./src/main/resources/local_connection_properties/
./.idea/
../wheretogoclient/
/.idea/.gitignore
/.idea/compiler.xml
/.idea/dataSources.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/runConfigurations.xml
/.idea/sqldialects.xml
/.idea/vcs.xml
